<h3>Search by Lens Type</h3>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-brand-header" id="headingColorEnhancing">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseColorEnhancing"
          aria-expanded="true" aria-controls="collapseColorEnhancing">
          Color & Enhancing
        </button>
      </h5>
    </div>
    <div id="collapseColorEnhancing" class="collapse" aria-labelledby="headingColorEnhancing" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>1-day Acuvue Define 30pk</li>
              <li>Air Optix Colors 6pk</li>
              <li>Freshlook Colorblends 6pk</li>
              <li>Freshlook Colors 6pk</li>
              <li>Freshlook Dimensions 6pk</li>
              <li>Freshlook 1-day 10pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-brand-header" id="headingBiWeekly">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBiWeekly"
          aria-expanded="false" aria-controls="collapseBiWeekly">
          1-2 Week Wear
        </button>
      </h5>
    </div>
    <div id="collapseBiWeekly" class="collapse" aria-labelledby="headingBiWeekly" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>Acuvue 2 6pk</li>
              <li>Acuvue Oasys for Astigmatism 6pk</li>
              <li>Acuvue Oasys for Presbyopia 6pk</li>
              <li>Acuvue Oasys with Hydraclear Plus 12pk</li>
              <li>Acuvue Oasys with Hydraclear Plus 24pk</li>
              <li>Freshlook Colorblends 6pk</li>
              <li>Freshlook Colors 6pk</li>
              <li>Freshlook Dimensions 6pk</li>
              <li>Freshlook Handling Tint 6pk</li>
              <li>Soflens 38</li>
              <li>Soflens Multifocal 6pk</li>
              <li>Soflens for Astigmatism 6pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-brand-header" id="headingDailyWear">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseDailyWear"
          aria-expanded="false" aria-controls="collapseDailyWear">
          Daily Wear
        </button>
      </h5>
    </div>
    <div id="collapseDailyWear" class="collapse" aria-labelledby="headingDailyWear" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>1-day Acuvue 30pk</li>
              <li>1-day Acuvue Define 30pk</li>
              <li>1-day Acuvue Moist 30pk</li>
              <li>1-day Acuvue Moist 90pk</li>
              <li>1-day Acuvue Moist Multifocal 30pk</li>
              <li>1-day Acuvue Moist Multifocal 90pk</li>
              <li>1-day Acuvue Moist for Astigmatism 30pk</li>
              <li>1-day Acuvue Moist for Astigmatism 90pk</li>
              <li>1-day Acuvue TruEye 30pk</li>
              <li>1-day Acuvue TruEye 90pk</li>
              <li>Acuvue Oasys 1-day 90pk</li>
              <li>BioTrue 1-day 30pk</li>
              <li>BioTrue 1-day 90pk</li>
              <li>BioTrue 1-day for Presbyopia 30pk</li>
              <li>Clariti 1-day 90pk</li>
              <li>Clariti 1-day Multifocal 30pk</li>
              <li>Clariti 1-day Multifocal 90pk</li>
              <li>Clariti 1-day Toric 30pk</li>
              <li>Dailies Aquacomfort Plus 30pk</li>
              <li>Dailies Aquacomfort Plus 90pk</li>
              <li>Dailies Aquacomfort Plus Multifocal 30pk</li>
              <li>Dailies Aquacomfort Plus Multifocal 90pk</li>
              <li>Dailies Aquacomfort Plus Toric 30pk</li>
              <li>Dailies Aquacomfort Plus Toric 90pk</li>
              <li>Dailies Total 1 30pk</li>
              <li>Dailies Total 1 90pk</li>
              <li>Dailies Total 1 Multifocal 30pk</li>
              <li>Dailies Total 1 Multifocal 90pk</li>
              <li>Focus Dailies 30pk</li>
              <li>Focus Dailies 90pk</li>
              <li>Focus Dailies Toric 30pk</li>
              <li>Focus Dailies Toric 90pk</li>
              <li>Freshlook 1-day 10pk</li>
              <li>Proclear 1-day 30pk</li>
              <li>Proclear 1-day 90pk</li>
              <li>Proclear 1-day Multifocal 30pk</li>
              <li>Proclear 1-day Multifocal 90pk</li>
              <li>Soflens Daily Disposable for Astigmatism 30pk</li>
              <li>Soflens Daily Disposable 90pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-brand-header" id="headingMonthly">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMonthly" aria-expanded="true"
          aria-controls="collapseMonthly">
          Monthly Wear
        </button>
      </h5>
    </div>
    <div id="collapseMonthly" class="collapse" aria-labelledby="headingMonthly" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>Acuvue Vita 6pk</li>
              <li>Acuvue Vita 12pk</li>
              <li>Acuvue Vita for Astigmatism 6pk</li>
              <li>Air Optix Aqua 6pk</li>
              <li>Air Optix Aqua Multifocal 6pk</li>
              <li>Air Optix Colors 6pk</li>
              <li>Air Optix for Astigmatism 6pk</li>
              <li>Air Optix Night & Day Aqua 6pk</li>
              <li>Air Optix Hydraglyde 6pk</li>
              <li>Air Optix Hydraglyde Multifocal 6pk</li>
              <li>Biofinity 6pk</li>
              <li>Biofinity Multifocal 6pk</li>
              <li>Biofinity Toric 6pk</li>
              <li>Biofinity XR 6pk</li>
              <li>Biofinity XR Toric 6pk</li>
              <li>Proclear 6pk</li>
              <li>Proclear Multifocal 6pk</li>
              <li>Proclear Multifocal XR 6pk</li>
              <li>Proclear Toric 6pk</li>
              <li>Proclear Toric XR 6pk</li>
              <li>Purevision 6pk</li>
              <li>Purevision 2 6pk</li>
              <li>Purevision 2 for Astigmatism 6pk</li>
              <li>Purevision 2 Multifocal 6pk</li>
              <li>Purevision Multifocal 6pk</li>
              <li>Purevision for Astigmatism 6pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-brand-header" id="headingMultifocal">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMultifocal"
          aria-expanded="true" aria-controls="collapseMultifocal">
          Bifocal & Multifocal
        </button>
      </h5>
    </div>
    <div id="collapseMultifocal" class="collapse" aria-labelledby="headingMultifocal" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>1-day Acuvue Moist Multifocal 30pk</li>
              <li>1-day Acuvue Moist Multifocal 90pk</li>
              <li>Acuvue Oasys for Presbyopia 6pk</li>
              <li>Air Optix Aqua Multifocal 6pk</li>
              <li>Air Optix Hydraglyde Multifocal 6pk</li>
              <li>Biofinity Multifocal 6pk</li>
              <li>BioTrue 1-day for Presbyopia 30pk</li>
              <li>Clariti 1-day Multifocal 30pk</li>
              <li>Clariti 1-day Multifocal 90pk</li>
              <li>Dailies Aquacomfort Plus Multifocal 30pk</li>
              <li>Dailies Aquacomfort Plus Multifocal 90pk</li>
              <li>Dailies Total 1 Multifocal 30pk</li>
              <li>Dailies Total 1 Multifocal 90pk</li>
              <li>Proclear 1-day Multifocal 30pk</li>
              <li>Proclear 1-day Multifocal 90pk</li>
              <li>Proclear Multifocal 6pk</li>
              <li>Proclear Multifocal XR 6pk</li>
              <li>Purevision 2 Multifocal 6pk</li>
              <li>Purevision Multifocal 6pk</li>
              <li>Soflens Multifocal 6pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-brand-header" id="headingToric">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseToric" aria-expanded="true"
          aria-controls="collapseToric">
          Toric & Astigmatism
        </button>
      </h5>
    </div>
    <div id="collapseToric" class="collapse" aria-labelledby="headingToric" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <div class="col-12 brandList">
            <ul>
              <li>1-day Acuvue Moist for Astigmatism 30pk</li>
              <li>1-day Acuvue Moist for Astigmatism 90pk</li>
              <li>Acuvue Oasys for Astigmatism 6pk</li>
              <li>Acuvue Vita for Astigmatism 6pk</li>
              <li>Air Optix for Astigmatism 6pk</li>
              <li>Biofinity Toric 6pk</li>
              <li>Biofinity XR Toric 6pk</li>
              <li>Clariti 1-day Toric 30pk</li>
              <li>Dailies Aquacomfort Plus Toric 30pk</li>
              <li>Dailies Aquacomfort Plus Toric 90pk</li>
              <li>Focus Dailies Toric 30pk</li>
              <li>Focus Dailies Toric 90pk</li>
              <li>Proclear Toric 6pk</li>
              <li>Proclear Toric XR 6pk</li>
              <li>Purevision 2 for Astigmatism 6pk</li>
              <li>Purevision for Astigmatism 6pk</li>
              <li>Soflens Daily Disposable for Astigmatism 30pk</li>
              <li>Soflens for Astigmatism 6pk</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>