<h3 class="headerText">Search by Lens Brand</h3>
<div class="container pb-4">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-brand-header" id="headingAcuvue">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseAcuvue" aria-expanded="false" aria-controls="collapseAcuvue">
            Acuvue
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseAcuvue" class="collapse" aria-labelledby="headingAcuvue" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>1-day Acuvue 30pk</li>
                <li>1-day Acuvue Define 30pk</li>
                <li>1-day Acuvue Moist 30pk</li>
                <li>1-day Acuvue Moist 90pk</li>
                <li>1-day Acuvue Moist Multifocal 30pk</li>
                <li>1-day Acuvue Moist Multifocal 90pk</li>
                <li>1-day Acuvue Moist for Astigmatism 30pk</li>
                <li>1-day Acuvue Moist for Astigmatism 90pk</li>
                <li>1-day Acuvue TruEye 30pk</li>
                <li>1-day Acuvue TruEye 90pk</li>
                <li>Acuvue 2 6pk</li>
                <li>Acuvue Oasys 1-day 90pk</li>
                <li>Acuvue Oasys for Astigmatism 6pk</li>
                <li>Acuvue Oasys for Presbyopia 6pk</li>
                <li>Acuvue Oasys with Hydraclear Plus 12pk</li>
                <li>Acuvue Oasys with Hydraclear Plus 24pk</li>
                <li>Acuvue Vita 6pk</li>
                <li>Acuvue Vita 12pk</li>
                <li>Acuvue Vita for Astigmatism 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingAirOptix">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseAirOptix" aria-expanded="false" aria-controls="collapseAirOptix">
            Air Optix
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseAirOptix" class="collapse" aria-labelledby="headingAirOptix" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Air Optix Aqua 6pk</li>
                <li>Air Optix Aqua Multifocal 6pk</li>
                <li>Air Optix Colors 6pk</li>
                <li>Air Optix for Astigmatism 6pk</li>
                <li>Air Optix Night & Day Aqua 6pk</li>
                <li>Air Optix Hydraglyde 6pk</li>
                <li>Air Optix Hydraglyde Multifocal 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingBiofinity">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseBiofinity" aria-expanded="false" aria-controls="collapseBiofinity">
            Biofinity
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseBiofinity" class="collapse" aria-labelledby="headingBiofinity" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Biofinity 6pk</li>
                <li>Biofinity Multifocal 6pk</li>
                <li>Biofinity Toric 6pk</li>
                <li>Biofinity XR 6pk</li>
                <li>Biofinity XR Toric 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingBiotrue">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseBiotrue" aria-expanded="false" aria-controls="collapseBiotrue">
            Biotrue
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseBiotrue" class="collapse" aria-labelledby="headingBiotrue" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>BioTrue 1-day 30pk</li>
                <li>BioTrue 1-day 90pk</li>
                <li>BioTrue 1-day for Presbyopia 30pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingClariti">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseClariti" aria-expanded="false" aria-controls="collapseClariti">
            Clariti
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseClariti" class="collapse" aria-labelledby="headingClariti" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Clariti 1-day 90pk</li>
                <li>Clariti 1-day Multifocal 30pk</li>
                <li>Clariti 1-day Multifocal 90pk</li>
                <li>Clariti 1-day Toric 30pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingDailies">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseDailies" aria-expanded="false" aria-controls="collapseDailies">
            Dailies
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseDailies" class="collapse" aria-labelledby="headingDailies" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Dailies Aquacomfort Plus 30pk</li>
                <li>Dailies Aquacomfort Plus 90pk</li>
                <li>Dailies Aquacomfort Plus Multifocal 30pk</li>
                <li>Dailies Aquacomfort Plus Multifocal 90pk</li>
                <li>Dailies Aquacomfort Plus Toric 30pk</li>
                <li>Dailies Aquacomfort Plus Toric 90pk</li>
                <li>Dailies Total 1 30pk</li>
                <li>Dailies Total 1 90pk</li>
                <li>Dailies Total 1 Multifocal 30pk</li>
                <li>Dailies Total 1 Multifocal 90pk</li>
                <li>Focus Dailies 30pk</li>
                <li>Focus Dailies 90pk</li>
                <li>Focus Dailies Toric 30pk</li>
                <li>Focus Dailies Toric 90pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingFreshlook">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseFreshlook" aria-expanded="false" aria-controls="collapseFreshlook">
            Freshlook
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseFreshlook" class="collapse" aria-labelledby="headingFreshlook" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Freshlook Colorblends 6pk</li>
                <li>Freshlook Colors 6pk</li>
                <li>Freshlook Dimensions 6pk</li>
                <li>Freshlook Handling Tint 6pk</li>
                <li>Freshlook 1-day 10pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingProclear">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseProclear" aria-expanded="false" aria-controls="collapseProclear">
            Proclear
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseProclear" class="collapse" aria-labelledby="headingProclear" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Proclear 6pk</li>
                <li>Proclear 1-day 30pk</li>
                <li>Proclear 1-day 90pk</li>
                <li>Proclear 1-day Multifocal 30pk</li>
                <li>Proclear 1-day Multifocal 90pk</li>
                <li>Proclear Multifocal 6pk</li>
                <li>Proclear Multifocal XR 6pk</li>
                <li>Proclear Toric 6pk</li>
                <li>Proclear Toric XR 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingPurevision">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapsePurevision" aria-expanded="false" aria-controls="collapsePurevision">
            Purevision
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapsePurevision" class="collapse" aria-labelledby="headingPurevision" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Purevision 6pk</li>
                <li>Purevision 2 6pk</li>
                <li>Purevision 2 for Astigmatism 6pk</li>
                <li>Purevision 2 Multifocal 6pk</li>
                <li>Purevision Multifocal 6pk</li>
                <li>Purevision for Astigmatism 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-brand-header" id="headingSoflens">
        <h5 class="mb-0">
          <button class="btn btn-link text-left align-middle collapsed" type="button" data-toggle="collapse"
            data-target="#collapseSoflens" aria-expanded="false" aria-controls="collapseSoflens">
            Soflens
            <i class="fa fa-caret-right expand_caret" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div id="collapseSoflens" class="collapse" aria-labelledby="headingSoflens" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 brandList">
              <ul>
                <li>Soflens 38</li>
                <li>Soflens Daily Disposable for Astigmatism 30pk</li>
                <li>Soflens Daily Disposable 90pk</li>
                <li>Soflens Multifocal 6pk</li>
                <li>Soflens for Astigmatism 6pk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>