@import "src/styles";

button {
    color: $color-pig-dark-blue;
    width: 100%;
}

button[aria-expanded="true"] > .expand_caret {
    transform: rotate(90deg);
}

.brandList {
    font-size: 14px;

    li {
        list-style-type: disc;
        text-decoration: underline;
        color: $color-pig-dark-blue;
        
    }
}

.card-brand-header {
    background-color: lighten($color-pig-silver, 10%);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
}

.headerText {
    padding: 16px;
    margin-bottom: 0;
}


i {
    line-height: 30px;
    float: right;
    font-size: 20px;
}
