<ul class="nav justify-content-center">
  <li class="nav-item filterTabs">
    <a class="nav-link active" href="#" (click)="onSelect('popularBrands')">Most Popular Brands</a>
  </li>
  <li class="nav-item filterTabs">
    <a class="nav-link" href="#">Search By Brand</a>
  </li>
  <li class="nav-item filterTabs">
    <a class="nav-link" href="#">Search By Lens Type</a>
  </li>
</ul>
<!-- <div class="row">
  <div class="col-3 clearfix">
    <div class="filterTabs">Most Popular Brands</div>
  </div>
  <div class="col-3">
    <div class="filterTabs">Search By Brand</div>
  </div>
  <div class="col-3">
    <div class="filterTabs">Search By Manufacturer</div>
  </div>
  <div class="col-3">
    <div class="filterTabs">Search By Lens Type</div>
  </div>
</div> -->