@import "src/styles";

.filterTabs {
    background-color: lighten($color-pig-silver, 10%);
    border-right: 1px solid $color-pig-silver;    
    font-size: 12px;
    padding: 8px;
    text-align: center;
    a {
        color: $color-pig-darker-blue;
    }  
}

li {
    list-style: none;
}

