<div id="filterSearchNav">
  <div class="row row-eq-height no-gutters">
    <div class="col">
      <li class="nav-item filterTabs">
        <a class="nav-link" href="#filterSearchNav" (click)="onSelect('byPopularBrand')">Most Popular Brands</a>
      </li>
    </div>
    <div class="col">
      <li class="nav-item filterTabs">
        <a class="nav-link" href="#filterSearchNav" (click)="onSelect('byBrand')">Search by Brand</a>
      </li>
    </div>
    <div class="col">
      <li class="nav-item filterTabs">
        <a class="nav-link" href="#filterSearchNav" (click)="onSelect('byLensType')">Search By Lens Type</a>
      </li>
    </div>
  </div>
</div>
<app-most-popular-brand *ngIf="tabOption === 'byPopularBrand'"></app-most-popular-brand>
<app-by-brand *ngIf="tabOption === 'byBrand'"></app-by-brand>
<app-by-lens-type *ngIf="tabOption === 'byLensType'"></app-by-lens-type>


  







