.btn-primary {
    background-color: $color-pig-pink;
    border: none;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid $color-pig-pink;
    color: $color-pig-pink;
    text-transform: uppercase;
}