// @include font-face-new('ContactsNeueMediumCondensed', 'contactsneue-mediumcondensed-webfont');
// @include font-face-new('ContactsNeueBoldCondensed', 'contactsneue-boldcondensed-webfont');
// @include font-face-new('ProximaNovaThin', 'proximanova-thin-webfont');
// @include font-face-new('ProximaNovaLight', 'proximanova-light-webfont');
// @include font-face-new('ProximaNova', 'proximanova-regular-webfont');
// @include font-face-new('ProximaNovaMedium', 'proximanova-medium-webfont');
// @include font-face-new('ProximaNovaSemiBold', 'proximanova-semibold-webfont');
// @include font-face-new('ProximaNovaBold', 'proximanova-bold-webfont')

@include font-face-new('Cabin-Regular', 'Cabin-Regular-webfont');

// .cn-medium-condensed  { font-family: $font-contacts-neue-medium-condensed; font-weight: normal; }
// .cn-bold-condensed  { font-family: $font-contacts-neue-bold-condensed; font-weight: normal; }
// .pn-light 		{ font-family: $font-proxima-nova-light; font-weight: normal; }
// .pn-regular		{ font-family: $font-proxima-nova; font-weight: normal;}
// .pn-bold 		{ font-family: $font-proxima-nova-bold; font-weight: normal; }
// .pn-semibold 	{ font-family: $font-proxima-nova-semibold; font-weight: normal; }
