// @import "src/app/css/sass/includes/_vars";
@import "src/styles";


.headerTop {
    height: 100px;
    background-color: $color-white;
    a {
        padding: 20px;
    }
}

.navbar-brand {
    padding-right: 60px;
}