// @import "src/app/css/sass/includes/_vars";
@import "src/styles";

.headerLogo {
    width: 25%;
    margin-right: 12px;
}


.headerTop {
    height: 65px;
    background-color: $color-white;
    box-shadow: 0px 1px 15px lighten($color-black, 50%);
}

.navbar-brand {
    font-size: 28px;
}