// @import "src/app/css/sass/includes/_vars";
@import "src/styles";

.headerLogo {
    width: 25%;
    margin-right: 12px;
}


.headerTop {
    height: 65px;
    background-color: $color-white;
}

.navbar-brand {
    padding-right: 60px;
    font-size: 28px;
}