@import "src/styles";

.homeHero {
    background-color: $color-pig-pink;
    color: $color-white;
    height: 500px;
}

.tag-line {
    margin-top: 60px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px;
}