@import "src/styles";

.homeHero {
    // background-color: $color-pig-pink;
    background-image: linear-gradient(to top, $color-pig-pink, lighten($color-pig-pink, 10%));
    color: $color-white;
    height: 480px;
    margin-top: 65px;
}

.tag-line {
    margin-bottom: 20px;
    margin-top: 40px;
}

p {
    margin-bottom: 25px;
}