<div class="homeHero ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="tag-line">Helping you find your contacts lenses, but for cheaper.</h2>
        <p>Lens Pig helps you find your contact lenses at the cheapest price on the market. Don't overpay for your lenses. Search your brand, find the cheapest place to purchase, and save money on contacts.</p>
        <button class="btn btn-secondary btn-block">Click for Contact Deals</button>
      </div>
    </div>
  </div>
</div>