<div class="container how-it-works">
  <h3>How It Works</h3>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/ZghhsIp.png" alt="">
      <h5>1. Search Your Brand</h5>
      <p>Search for your specific brand of lenses. We'll find the cheapest price out there on the market for you and provide you the link for your purchase.
      </p>
    </div>
    <div class="col-12">
        <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/iIOaq9N.png" alt="">
        <h5>2. Purchase Your Lenses</h5>
        <p>Purchase your lenses through the link provided to purchase your lenses at the cheapest price on the market.
        </p>
    </div>
    <div class="col-12">
        <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/eENY8dW.png" alt="">
        <h5>3. Save Your Money</h5>
        <p>We help you save your money to essentially make your piggy bank fatter! Spend your saved money on a little something for yourself, you earned it. 
        </p>
    </div>
  </div>
</div>
