<div class="container how-it-works">
  <h2>How It Works</h2>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/5ZkzIKD.png" alt="">
      <h5>1. Search Your Brand</h5>
      <p>Search for your specific brand of lenses. We'll find the cheapest price on the market for you and provide you the link for your purchase.
      </p>
    </div>
    <div class="col-12">
        <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/xRwaVV8.png" alt="">
        <h5>2. Purchase Your Lenses</h5>
        <p>Go through the website to place an order for your contact lenses and purchase them at the cheapest price on the market.
        </p>
    </div>
    <div class="col-12">
        <img class="img-fluid how-it-works-icons" src="https://i.imgur.com/c3rVt17.png" alt="">
        <h5>3. Save Your Money</h5>
        <p>Since purchasing lenses at a discounted rate is obviously cheaper, this will help you save your money to essentially make your piggy bank fat! 
        </p>
    </div>
  </div>
</div>
